.link{
    -webkit-tap-highlight-color: transparent
}
.card{
    /* background-color: var(--white-color); */
    border-radius: 19px;
    transition: all .3s ease;
    -webkit-tap-highlight-color: transparent
}

.card:hover{
    background-color: rgba(198, 201, 198, 0.342);
}

.head{
    border-radius: 19px;
    position: relative;
    min-height: 165px;
    background-size: cover;
    background-position: left;
}

.price{
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;
    color: #111719;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price span{
    color: var(--primary-color);

}

.add-to-card{
    cursor: pointer;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all .3s ease;
}

.add-to-card:hover{
    background-color: var(--primary-hover-color);
}

.add-to-card img{
    width: 90%;
}

.rating{
    max-width: 35px;
    position: absolute;
    bottom: -12px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 8px;
    border-radius: 20px;
    color: #111719;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* another */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.rating img{
    width: 45%;
}

.footer{
    padding: 12px;
}

.title{
    color: black;
    font-size: 18.214px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description{
    color: var(--text-secondary);
    font-size: 14.571px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}