:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #e15d39;
  --text: #000000;
  --text-secondary: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4D6E0;
 
}

a{
  text-decoration: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}